.navbar-nav {
  width: 100%;
}


.navbar-nav {
  width: 100%;
}

.navbar1{
  background-color: #041937;
}

// .navbar2{
 

// }

.item-profil {
  margin-left: auto;
}

// li.nav-item:not(:last-child) { 
//   margin-left: 30px;  
// }

.toto{
  margin-left: 24px;
}